docs/
node_modules/
bun.lock/
vod/
logs/
recordings/
hls/
backend/.env
backend/api/
backend/.env.example
backend/nginx.rtmp.conf
backend/node_modules
@latest/.env
@latest/.vercel
@latest/dist/
@latest/node_modules
backend/src/bun.lock
backend/src/nginx.rtmp.conf
.env/